.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures it takes up the full viewport height */
    text-align: center;
}

.home-container a {
    color: #007bff; /* Bootstrap's default blue. Adjust if you're using a different theme */
    text-decoration: none;
    margin: 0 5px;
}

.home-container a:hover {
    text-decoration: underline;
}
